.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid black;
  background-color: #35682d;
  width: 100%;
  height: 100%;

  .positionContainer {
    display: flex;
    gap: 12px;
  }

  .field {
    position: relative;
    outline: 2px solid white;

    .ball {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      outline: 1px solid black;
      background-color: white;
    }

    .player {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 2px;
    }

    .playerA {
      background-color: blue;
      span {
        color: white;
      }
    }
    .playerB {
      background-color: chocolate;
      span {
        color: white;
      }
    }

    .goal {
      position: absolute;
      background-color: #555;
    }
  }
}
