* {
  padding: 0;
  margin: 0;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;

  .field {
    position: relative;
    outline: 2px solid gray;

    .ball {
      position: absolute;
      background-color: green;
      border-radius: 50%;
    }

    .playerA,
    .playerB {
      position: absolute;
      border-radius: 50%;
    }

    .playerA {
      background-color: blueviolet;
    }

    .playerB {
      background-color: chocolate;
    }

    .net {
      position: absolute;
      height: 30px;
      width: 4px;
      background-color: grey;
      left: 200px;
    }

    .floor {
      position: absolute;
      width: 600px;
      height: 40px;
      background-color: grey;
    }

    .wall {
      position: absolute;
      width: 40px;
      background-color: red;
    }
  }
}
